<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>InnovAIte 2025 - Welcome</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
  <link href="start.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <header class="header">
      <h2>InnovAIte 2025</h2>
      <div class="logo-container">
        <img src="bulb.png" alt="Idea Bulb" class="bulb">
        <img src="text.png" alt="InnovAIte" class="text">
      </div>
    </header>
    <main class="main-content">
      <a href="{{ url_for('user_timetable_form') }}" class="start-button">Start Here!</a>
    </main>
    <footer class="footer">
      <h2>About The Project</h2>
      <p>An AI-powered scheduler, designed to help students with stress and prevent burnout by using AI to engineer custom-made timetables</p>
      <p>Made by Team 404 - Edward Latto, Rishabh Khaund, Jiexi Fan, Kevin Hu, Krithin Satya</p>
    </footer>
  </div>
</body>
</html>
